body div.jumbotron {
  padding-left: 2%;
  background-color: cornflowerblue; }
  body div.jumbotron .btn-default {
    background-color: #959aff;
    border-color: #959aff; }
  body div.jumbotron .btn-default:hover {
    background-color: #5257a0; }
